*.DS_Store

*.Rhistory
*.Rapp.history
*.Rproj.user
*.Ruserdata
*.RData
*.rds
*.qs

__pycache__/
*.py[cod]
*.pkl

*.utf8.md
*.knit.md

*.log
*.log.out
*.log.err
sps-*

*.csv
*.tar
*.gz
*.html
*.pdf
*.png
*.xlsx

data-raw/
*_files
*_cache
z_ignore_git/

!data-raw/README.md

# Project-specific
tests/*.json
